.header, .content, .footer {
width: 960px;
margin: 0 auto;
}

.header {
min-height: 90px;
}

.header div {
display: inline-block;
}

.header .logo {
width: 30%;
}

.header .navigation{
width: 50%;
}

.header .searchbox{
width: 20%;
}
